
#main{
    height: 380px;
    background-color:white;
    margin-top: 65px;

}
.output{
    background-color: white;
    box-shadow: 1px 1px 1px #000;
    height: 200px;
    margin-bottom: 20px;
    overflow: scroll;
}
ul{
    list-style: none;

}
input[type=submit]{
    width: 150px;
    box-sizing: border-box;
    border: 4px solid #a7beb6;
    border-radius: 10px;

}
textarea{
    background-color: #dcdcdc;
    width: 610px;
}
body{
    background-image: url('./centre-d-appel-bizerte.jpg');
    background-size: cover;
    position: relative;
    background-position: center;
}

.home-main {
    opacity: .850;
margin-right: 700px;
}

.home-title , .send-main , .output {
    margin-left: 10px;
}
.dontHave {opacity: .58;
    text-align: center;
	border: 4px solid #a7beb6;
	    border-radius: 10px;

	
}
h1{outline-style:ridge;outline-width:5px}
div{outline-style:solid;outline-width:2px;}

   


